<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="{% block meta_description %}錯誤頁面{% endblock %}" />
    <meta name="author" content="mfhsieh at github (https://github.com/mfhsieh/technical-analysis)" />
    <meta name="copyright"
        content="mfhsieh at github (https://github.com/mfhsieh/technical-analysis), CC BY-NC-SA 4.0" />

    <title>{% block title %}錯誤頁面{% endblock %}</title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='exception.css') }}">
</head>

<body>
    <div class="error-container">
        <div class="error-icon">
            {% block error_icon %}⚠️{% endblock %}
        </div>

        <header>
            <h1>{% block header_text %}錯誤頁面{% endblock %}</h1>
        </header>

        <main>
            {% block content %}
            <p>抱歉，網頁似乎出了一點問題。</p>
            {% endblock %}
        </main>

        <div>
            <a href="/" class="btn-home">
                回到首頁
            </a>
        </div>
    </div>
</body>

</html>