<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B9JM9F2QZ6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-B9JM9F2QZ6');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Error Handler: Ooops...Something Wrong" />
    <meta name="copyright" content="mfhsieh at gmail.com" />

    <title>Ooops...Something Wrong</title>
    <link rel="shortcut icon" sizes="32x32" href="/favicon.ico" />
</head>

<body>
    <header>
        <h1>Ooops...Something Wrong</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>